profiles {
	    standard {
        	process.executor = 'local'
        	process.maxForks = 3
        	singularity.enabled = false
        	docker.enabled = true
        }
        
        sge {
			process.executor = 'sge'
			process.penv = 'smp'
			process.queue = 'public.q'
			process.cpus = '5'
    		process.memory = '10.GB'
    	}


 		slurm {
 			process {
 			
    			executor = 'slurm'
    			clusterOptions = '--qos=long'
    			cpus = '14'
    			memory = '40.GB'
    			
    			withName: cgp { 
    				memory = { 200.GB * task.attempt }
    				clusterOptions = '--partition=highmem --qos=long'
    			}
    		}
    		
    		includeConfig 'config/cgp.config'
  		}

}

process {

	publishDir = [path: './results', mode: 'copy', overwrite: 'true']

	errorStrategy = 'retry'
	maxRetries = 3
	maxForks = 20

	cpus = 1
	time = { 190.h * task.attempt }
	memory = { 1.GB * task.attempt }

    withName:gatk {
        container = 'docker://broadinstitute/gatk:4.0.4.0'
    }
    
    withName:manta {
        container = 'docker://obenauflab/strelka:latest'
    }
    
    withName:strelka {
        container = 'docker://obenauflab/strelka:latest'
    }
    
    withName:cgp {
        container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.0.0'
    }
}

timeline {
	enabled = true
}

singularity {
	enabled = true
}
