profiles {
	    standard {
        	process.executor = 'local'
        	process.maxForks = 3
        	singularity.enabled = false
        	docker.enabled = true
        }
        
        sge {
			process.executor = 'sge'
			process.penv = 'smp'
			process.queue = 'public.q'
			process.cpus = '5'
    		process.memory = '10.GB'
    	}


 		slurm {
 			process {
 			
    			executor = 'slurm'
    			clusterOptions = '--qos=long'
    			cpus = '24'
    			memory = '50.GB'
    			
    			//withName: cgp {
    			//   cpus = '21'
    			//	memory = null
    			//	clusterOptions = '--partition=highmem --qos=long'
    			//}
    		}
    		
    		includeConfig 'config/cgp.config'
  		}

}

process {

	publishDir = [path: './results', mode: 'copy', overwrite: 'true']

	errorStrategy = 'retry'
	maxRetries = 3
	maxForks = 20

    withName:somaticSeqSetup {
        container = 'docker://docker pull lethalfang/somaticseq:3.0.0'
    }
}

timeline {
	enabled = true
}

singularity {
	enabled = true
}
