profiles {

	    standard {
        	process.executor = 'local'
        	singularity.enabled = false
        	docker.enabled = true
        	process.maxForks = 3
        }
        
        sge {
			process.executor = 'sge'
			process.penv = 'smp'
			process.queue = 'public.q'
    	}


 		slurm {
    		process.executor = 'slurm'
    		process.clusterOptions = '--qos=medium'
    		process.cpus = '28'
  		}

}

process {

	publishDir = [path: './results', mode: 'copy', overwrite: 'true']

	errorStrategy = 'retry'
	maxRetries = 3
	maxForks = 20

	cpus = 1
	time = { 1.h * task.attempt }
	memory = { 1.GB * task.attempt }

    withName:gatk {
        container = 'docker://broadinstitute/gatk:4.0.4.0'
    }
}

timeline {
	enabled = true
}

singularity {
	enabled = true
}
