params {

   reference = '/groups/obenauf/Software/indices/hg19/cgp/core_ref_GRCh37d5.tar.gz'
   VAGrENT = '/groups/obenauf/Software/indices/hg19/cgp/VAGrENT_ref_GRCh37d5_ensembl_75.tar.gz'
   SNVIndel = '/groups/obenauf/Software/indices/hg19/cgp/SNV_INDEL_ref_GRCh37d5.tar.gz'
   CNVSV = '/groups/obenauf/Software/indices/hg19/cgp/CNV_SV_ref_GRCh37d5_brass6+.tar.gz'
   SUBCL = '/groups/obenauf/Software/indices/hg19/cgp/SUBCL_ref_GRCh37d5.tar.gz'
   QC = '/groups/obenauf/Software/indices/hg19/cgp/qcGenotype_GRCh37d5.tar.gz'
   exclude = '/groups/obenauf/Software/indices/hg19/cgp/ignore_contigs_GRCh37d5.txt'

}